<!DOCTYPE html>
<html lang="en">
<head>
    <title>Barnett Yang</title>
    <meta name="description" content="Barnett Yang's Personal Portfolio" />

    <%- include('partials/head.ejs') %>
    <link href="css/main.css" rel="stylesheet">
    <link href="css/markdown.css" rel="stylesheet">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container py-md-3">
        <div class="row">
            <div class="col-sm-8 mx-auto text-center">
                <h2 style="font-size: 4rem; font-weight:250">CS 61B: Data Structures</h2>
                <h4 style="font-size: 1.3rem; font-weight:250">CS 61B contains content regarding data structures (e.g. lists, queues, trees, etc.) and algorithms for sorting and searching. The course also offers an introduction to the Java programming language. Below are the notes that I compiled from when I took CS 61B at UC Berkeley.</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <button type="button" class="collapsible">Lecture 1: Welcome to CS 61B</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture01.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture01.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 2: Defining and Using Java Classes</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture02.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture02.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 3: References, Recursion, and Lists</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture03.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture03.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 4: SLLists, Nested Classes, Sentinel Nodes</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture04.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture04.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 5: DLLists, Arrays</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture05.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture05.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 6: ALists, Resizing, vs. SLists</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture06.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture06.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 7: Testing</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture07.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture07.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 8: Inheritance, Implements</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture08.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture08.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 9: Extends, Casting, Higher Order Functions</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture09.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture09.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 10: Subtype Polymorphism vs. Higher Order Functions</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture10.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture10.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 11: Exceptions, Iterators, Object Methods</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture11.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture11.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 13: Asymptotics Part I</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture13.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture13.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 14: Disjoint Sets</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture14.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture14.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 15: Asymptotics Part II</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture15.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture15.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 16: Abstract Data Types, Sets, Maps, Binary Search Trees</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture16.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture16.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 17: B-Trees (2-3, 2-3-4 Trees)</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture17.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture17.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 18: Red Black Trees</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture18.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture18.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 19: Multidimensional Data</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture19.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture19.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 20: Hash Tables</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture20.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture20.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 21: Heaps and Priority Queues</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture21.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture21.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 22: Prefix Operations and Tries</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture22.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture22.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 23: Tree and Graph Traversals</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture23.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture23.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 24: Graph Traversals and Implementations</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture24.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture24.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 25: Shortest Paths</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture25.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture25.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 26: Minimum Spanning Trees</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture26.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture26.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 27: Software Engineering Part I (Extra Topic)</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture27.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture27.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 28: Reductions and Decomposition</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture28.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture28.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 29: Basic Sorts</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture29.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture29.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 30: Quicksort</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture30.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture30.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 31: Software Engineering Part II (Extra Topic)</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture31.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture31.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 32: More Quick Sort, Sorting Summary</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture32.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture32.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 33: Software Engineering Part III - Your Life (Extra Topic)</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture33.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture33.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 34: Sorting and Algorithmic Bounds</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture34.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture34.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 35: Counting Sort and Radix Sorts</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture35.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture35.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 36: Radix vs. Comparison Sorting</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture36.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture36.ejs') %>
        </div>
        <button type="button" class="collapsible">Lecture 37: Compression (Extra Topic)</button>
        <div class="content">
            <h3><a href="files/csm_cs61b/Lecture37.html" target="_blank">Open Note in New Page</a></h3>
            <%- include('partials/cs61b/Lecture37.ejs') %>
        </div>
    </div>

    <br>
    <br>

    <%- include('partials/scripts.ejs') %>
    <!--Script for hidden content-->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
    </script>
</body>